In [10]:
import os
import re
import csv

import numpy as np
import pandas as pd

In [11]:
#import dataset
#give the proper csv file path
dataset = pd.read_csv("BCC_Sports.csv", encoding="latin-1")
dataset

                                                  text      label
0    Henman overcomes rival RusedskiTim Henman save...     tennis
1    Safin slumps to shock Dubai lossMarat Safin su...     tennis
2    Ferrero eyes return to top formFormer world nu...     tennis
3    Roddick into San Jose finalAndy Roddick will p...     tennis
4    Federer claims Dubai crownWorld number one Rog...     tennis
5    Young debut cut short by GinepriFifteen-year-o...     tennis
6    Melzer shocks AgassiSecond seed Andre Agassi s...     tennis
7    Federer forced to dig deepTop seed Roger Feder...     tennis
8    Nadal marches on in MexicoRafael Nadal continu...     tennis
9    Hantuchova in Dubai last eightDaniela Hantucho...     tennis
10   Parmar ruled out of Davis Cup tieA knee injury...     tennis
11   Davenport hits out at WimbledonWorld number on...     tennis
12   Dogged Federer claims Dubai crownWorld number ...     tennis
13   Henman hopes ended in DubaiThird seed Tim Henm...     tennis
14   Mirza shocks KuznetsovaSania Mirza continued h...     tennis
15   Hantuchova in Dubai last eightDaniela Hantucho...     tennis
16   Murray to make Cup historyAndrew Murray will b...     tennis
17   Davenport hits out at WimbledonWorld number on...     tennis
18   Venus stunned by Farina EliaVenus Williams suf...     tennis
19   Martinez sees off Vinci challengeVeteran Spani...     tennis
20   Serena becomes world number twoSerena Williams...     tennis
21   Hingis to make unexpected returnMartina Hingis...     tennis
22   Clijsters set for February returnTennis star K...     tennis
23   Hewitt falls to DentLleyton Hewitt suffered a ...     tennis
24   Angry Williams rejects criticismSerena William...     tennis
25   Davenport dismantles young rivalTop seed Linds...     tennis
26   Serena ends Sania Mirza's dreamSania Mirza, th...     tennis
27   Kuznetsova 'failed a drugs test'US Open champi...     tennis
28   What now for British tennis?Tim Henman's decis...     tennis
29   Hewitt overcomes wobble in SydneyLleyton Hewit...     tennis
..                                                 ...        ...
707  Running around the OlympicsIt was back to offi...  athletics
708  Johnson uncertain about Euro bidJade Johnson i...  athletics
709  Pavey focuses on indoor successJo Pavey will m...  athletics
710  Gardener wins double in GlasgowBritain's Jason...  athletics
711  African double in EdinburghWorld 5000m champio...  athletics
712  Yelling takes Cardiff hat-trickEuropean cross-...  athletics
713  Butler strikes gold in SpainBritain's Kathy Bu...  athletics
714  Wada will appeal against rulingThe World Anti-...  athletics
715  Greek sprinters 'won't run again'The careers o...  athletics
716  IAAF will contest Greek decisionThe Internatio...  athletics
717  Greek duo cleared in doping caseSprinters Kost...  athletics
718  Johnson too strong for GB runnersBritain's Kat...  athletics
719  Holmes starts 2005 with GB eventsKelly Holmes ...  athletics
720  Tulu to appear at Caledonian runTwo-time Olymp...  athletics
721  Disappointed Scott in solid startAllan Scott i...  athletics
722  GB quartet get cross country callFour British ...  athletics
723  Jones files lawsuit against ConteMarion Jones ...  athletics
724  Thanou desperate to make returnGreek sprinter ...  athletics
725  Relay squad thrilled with honoursJason Gardene...  athletics
726  Balco case trial date pushed backThe trial dat...  athletics
727  Collins calls for Chambers returnWorld 100m ch...  athletics
728  Costin aims for comeback in 2006Jamie Costin s...  athletics
729  Lewis-Francis turns to ChristieMark Lewis-Fran...  athletics
730  Greene to compete in BirminghamMaurice Greene ...  athletics
731  Kluft playing down record chanceSweden's Carol...  athletics
732  Pittman drops coach for UK baseAustralia's wor...  athletics
733  Lewis-Francis shakes off injurySprinter Mark L...  athletics
734  Holmes facing fine over trialsDouble Olympic c...  athletics
735  Freeman considers return to trackFormer Olympi...  athletics
736  Event devised to nurture athletesUK Athletics ...  athletics

[737 rows x 2 columns]

In [12]:
# instance per label
dataset.groupby('label').label.count()

label
athletics    101
cricket      124
football     265
rugby        147
tennis       100
Name: label, dtype: int64

In [13]:
# fix random seed for reproducibility
np.random.seed(7)

from pyspark import SparkFiles
from pyspark.ml import Pipeline
from pyspark.ml.feature import *
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.functions import col 
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
from pyspark.mllib.classification import *

sc = SparkContext.getOrCreate()
sqlCtx = SQLContext(sc)

In [14]:
# Pre-Processng - cleaning and converting the data them into the right format

# Remove Non-Alphanumeric Characters
for row in range(len(dataset)):
    line = dataset.iloc[row,0]
    dataset.iloc[row,0] = re.sub("[^a-zA-Z0-9]", " ", line)
    
# Convert to Lowercase & SQL Dataframe
dataset_lower = dataset.apply(lambda x: x.astype(str).str.lower())

# Convert panda dataframe to sql dataframe
sql_dataset = sqlCtx.createDataFrame(dataset_lower)

# Tokenize Text into Words
Tokenizer = RegexTokenizer(inputCol="text",outputCol="words", pattern="\\W")

# countTokens = udf(lambda words: len(words), IntegerType())
regexTokenized = Tokenizer.transform(sql_dataset).select("words","label")

# Remove Stopwords
remove = StopWordsRemover(inputCol="words", outputCol="cleaned")
removed = remove.transform(regexTokenized).select("cleaned","label")

#  Stemming of words
# Conver sql dataframe back to pandas dataframe 
from nltk.stem import SnowballStemmer

stemming_removed = removed.toPandas()
stemmer = SnowballStemmer('english')
stemming_removed["words"] = stemming_removed["cleaned"].apply(lambda x: [stemmer.stem(y) for y in x])

# Convert back to sql dataframe
stemmed_dataset = sqlCtx.createDataFrame(stemming_removed).select(["label","words"])

# map the data to numeric values
from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer

indexer = StringIndexer(inputCol = "label", outputCol = "bin_label")
indexed = indexer.fit(stemmed_dataset).transform(stemmed_dataset)

# Split Data to Training and Test Set
# Split data into training(50%) and test(50%)
train, test = indexed.randomSplit([0.5, 0.5], seed=50)
train.cache()
test.cache()

DataFrame[label: string, words: array<string>, bin_label: double]

In [15]:
# stemmed dataset
stemmed_dataset.show(5)
indexed.groupBy("bin_label","label").count().orderBy('bin_label').show()

# datasets details
print("Number of Training Samples: "+ str(train.count()))
print("Number of Test Samples: "+ str(test.count()))

+------+--------------------+
| label|               words|
+------+--------------------+
|tennis|[henman, overcom,...|
|tennis|[safin, slump, sh...|
|tennis|[ferrero, eye, re...|
|tennis|[roddick, san, jo...|
|tennis|[feder, claim, du...|
+------+--------------------+
only showing top 5 rows

+---------+---------+-----+
|bin_label|    label|count|
+---------+---------+-----+
|      0.0| football|  265|
|      1.0|    rugby|  147|
|      2.0|  cricket|  124|
|      3.0|athletics|  101|
|      4.0|   tennis|  100|
+---------+---------+-----+

Number of Training Samples: 359
Number of Test Samples: 378

In [7]:
# apply Term Frequency, Inverse Document Frequecy Method to determine importance of a word 

tf = HashingTF(inputCol="words", outputCol="rawFeatures", numFeatures = 10000)
idf = IDF(inputCol="rawFeatures", outputCol="features", minDocFreq=2)

train_tf = tf.transform(train)
test_tf = tf.transform(test)

idfModel = idf.fit(train_tf)
tfidf_train = idfModel.transform(train_tf).select("bin_label", "features")

In [8]:
from pyspark.ml.linalg import DenseVector

rescaled_train = tfidf_train.rdd.map(lambda lp: (lp.bin_label, DenseVector(lp.features.toArray()))) \
                                     .toDF(['label','features'])
rescaled_test = test_tf.rdd.map(lambda lp: (lp.bin_label, DenseVector(lp.rawFeatures.toArray()))) \
                                .toDF(['label','features'])

In [16]:
from pyspark.ml.classification import NaiveBayes
from pyspark.mllib.evaluation import MulticlassMetrics

# naive bayes classifier is used for the text classifiction
nb = NaiveBayes(smoothing=0.01, modelType="multinomial")
model = nb.fit(rescaled_train)

test_prob = model.transform(rescaled_test)
test_pred = test_prob.select('prediction','label').rdd.map(lambda lp: (lp.prediction,lp.label))
test_metrics = MulticlassMetrics(test_pred)

train_prob = model.transform(rescaled_train)
train_pred = train_prob.select('prediction','label').rdd.map(lambda lp: (lp.prediction,lp.label))
train_metrics = MulticlassMetrics(train_pred)
print("Training Accuracy: " + str(train_metrics.accuracy*100)+ " %" )
print("Training Precision: " + str(train_metrics.precision()))
print("Training Recall: " + str(train_metrics.recall()))


print("Testing Accuracy: " + str(test_metrics.accuracy*100)+ " %" )
print("Testing Precision: " + str(test_metrics.precision()))
print("Testing Precision: " + str(test_metrics.recall()))

Training Accuracy: 100.0 %
Training Precision: 1.0
Training Recall: 1.0
Testing Accuracy: 96.56084656084656 %
Testing Precision: 0.9656084656084656
Testing Precision: 0.9656084656084656